vaadin-login-form-wrapper{
    border-radius: 20px;
    background-color: #fff !important;
}

body{
    background-color: #11111F;
    --lumo-primary-color: #4EC3E0;
    --lumo-primary-text-color: #4EC3E0;
    --lumo-header-text-color: #4EC3E0;
}

vaadin-app-layout::part(drawer) {
    background-color: #11111F !important;
    border-right: #fff 1px solid;
  }

  vaadin-app-layout::part(navbar) {
    background-color: #11111F !important;
    color: #4EC3E0;
  }

vaadin-grid::part(cell) {
    background-color: #11111F !important;
    color: #4EC3E0;
}

vaadin-grid {
    background-color: #11111F !important;
}

label {
    color: #4EC3E0;
}

input {
    color: #fff;
}

.field-error {
    border: 2px solid red;
}

.allButtons {
    cursor: pointer;
}

.buttonForget {
    background-color: transparent;
    border: none;
    outline: none;
}